<template>
    <lightning-card title="Template One">
        <div>
            This is template one with the details of sreenivas
        </div>
        <p class="margin-vertical-small">
            <lightning-button label="Switch Templates" 
                onclick={switchTemplate}>
            </lightning-button> 
        </p>
    </lightning-card>
</template>